<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <bean
        id="energyRadio"
        class="ru.maxima.radio.EnergyRadio">
        <constructor-arg value="Tralala"/>
    </bean>

    <bean id="radioList" class="ru.maxima.radio.RadioList">
        <property name="songs">
            <list>
                <value>song1</value>
                <value>song2</value>
                <value>song3</value>
            </list>
        </property>
    </bean>
</beans>