<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="energy" class="ru.maxima.radio.RadioStation">
        <property name="songs">
            <list>
                <value>DrumAndBass</value>
                <value>Electro</value>
                <value>Techno</value>
            </list>
        </property>
    </bean>

    <bean id="news" class="ru.maxima.radio.RadioStation">
        <property name="songs">
            <list>
                <value>Weather</value>
                <value>News</value>
                <value>Financial</value>
            </list>
        </property>
    </bean>

    <bean id="kids" class="ru.maxima.radio.RadioStation">
        <property name="songs">
            <list>
                <value>Good night kids</value>
                <value>Dance</value>
                <value>From the cartoon</value>
            </list>
        </property>
    </bean>

    <bean id="retro" class="ru.maxima.radio.RadioStation">
        <property name="songs">
            <list>
                <value>Strangers In The Night</value>
                <value>House Of The Rising Sun</value>
                <value>Good Morning Starshine</value>
            </list>
        </property>
    </bean>

    <bean id="classic" class="ru.maxima.radio.RadioStation">
        <property name="songs">
            <list>
                <value>Antonio Lucho Vivaldi</value>
                <value>Wolfgang Amadeus Mozart</value>
                <value>Ludwig van Beethoven</value>
            </list>
        </property>
    </bean>

    <bean id="radioList" class="ru.maxima.radio.RadioList">
        <property name="radioStations">
            <list>
                <ref bean="energy"/>
                <ref bean="news"/>
                <ref bean="kids"/>
                <ref bean="retro"/>
                <ref bean="classic"/>
            </list>
        </property>
    </bean>
</beans>